
body{
    background-color: #1F2937;
    margin: 0;
}


.title{
    padding-top: 20vh;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    height: 100vh;
    flex-direction: column;
}

.headings{
    margin: 0 ;
    padding-right:10px;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size:40px;
    line-height: 40px;
    letter-spacing: -1px;
}

#heading-1{
    color: #ECFDF5;
    margin: inherit;
    
}

#heading-2{
    color:#10B981;
    margin: inherit;
    
}
.button-and-descriptions{
    display: flex;
    gap:35px;
    flex-direction: column ;
    margin: 0;
    padding-right: 10px;
    padding-left: 110px;
    align-items: flex-start;
    
    
}
#description{
   font-family: "Inter", sans-serif;
   color: #D5D4D8;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   margin:8px 0 8px 0;
   

}


#main-button{
    margin: 0;
    background-color: #10B981;
    padding:9px 17px 9px 15px;
    border-radius: 6px;
    border: none;
    color: #ECFDF5;
    cursor: pointer;
    
}

.line{
    height: 1px;
    background: #2F3E53;
    align-self: stretch;
}

.output-fields{
    display: flex;
    gap:1vw;

}

.output-fields input[readonly]{
    background-color: #273549;
    border: none;
    border-radius: 6px;
    text-align: center;
    color: #10B981;
    height: 39px;
    width: 211px;

}

.toggle{
    display: flex;
    gap: 25px;
}

.inner-toggle{
    color: #ECFDF5;
}

.password-fields{
    cursor: pointer;
}

.password-fields:focus{
    outline: none;
}

.password-length{
    color: #ECFDF5;
}