
body{
    background-color: #1F2937;
    margin: 0;
}


.title{
    padding-top: 20vh;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    height: 100vh;
    flex-direction: column;
}

.headings{
    margin: 0;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size:40px;
    line-height: 40px;
    letter-spacing: -1px;
}

#heading-1{
    color: #ECFDF5;
    margin: inherit;
    
}

#heading-2{
    color:#10B981;
    margin: inherit;
    
}

#description{
   font-family: "Inter", sans-serif;
   color: #D5D4D8;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   position: relative;
   margin: 0;
   left:11px;
   top:5px;


   
}