
body{
    background-color: #1F2937;
    margin: 0;
}


.title{
    padding-top: 20vh;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    height: 100vh;
    flex-direction: column;
}

.headings{
    margin: 0 ;
    padding-right:10px;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size:40px;
    line-height: 40px;
    letter-spacing: -1px;
}

#heading-1{
    color: #ECFDF5;
    margin: inherit;
    
}

#heading-2{
    color:#10B981;
    margin: inherit;
    
}
.button-and-descriptions{
    display: flex;
    gap:5vh;
    flex-direction: column ;
    margin: 0;
    padding-right: 10px;
    padding-left: 1.2vw;

    
}
#description{
   font-family: "Inter", sans-serif;
   color: #D5D4D8;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   margin: inherit;
}


#main-button{
    align-self: flex-start;
    background-color: #10B981;
    padding:9px 17px 9px 15px;
    border-radius: 6px;
    border: none;
    color: #ECFDF5;
}